*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
}

.navbar{
    background-color: blue;
    color: azure;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: azure;
}

.nav-left{
    display: flex;
    font-size: 10px;
}

.nav-right{
    display: flex;
}