*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
}

.navbar{
    background-color: blue;
    color: azure;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: azure;
}

.nav-left{
    display: flex;
    font-size: 10px;
}

.nav-right{
    display: flex;
}
.container{
    width: 90%;
    margin: 50px auto;

    display: grid;
    grid-template-columns: repeat(4,250px);
    gap: 35px;
}
.card{
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    width: 250px;
    height: 180px;

}

.card-header{
    height: 100px;
 
}
.card-body p{
    color: gray;
}
.card-body h3{
    margin-bottom: 10px;
}
.card-body{
    padding: 15px;
  text-align: center;
}
.purple{
    background: purple;
}

.cyan{
    background: cyan;
}
.green{
    background: green;
}
.orange{
    background: orange;
}
.pink{
    background: pink;
}
.red{
    background: red;
}